<h1>Welcome to {{ hotelName }}</h1>

<div [hidden]="hideRooms">
  Number of Rooms:
  <div
    [ngStyle]="{ color: rooms.availableRooms ? 'green' : 'red' }"
    [innerText]="numberOfRooms"
  ></div>
</div>

<!-- ? after property to chekc if it's null before accessing -->
<!-- ?? to say if null do this -->
<!-- covers above essentially but more concise -->
{{ rooms?.availableRooms ?? "No rooms" }}

<div *ngIf="selectedRoom">
  {{ selectedRoom | json }}
</div>

<div>
  <button (click)="addRoom()">Add Room</button>
</div>

<!-- json pipe use to see json format of object, only for debugging purposes -->
<!-- {{ roomList | json }} -->

<div *ngIf="rooms.availableRooms > 0">
  <app-rooms-list [rooms]="roomList" [title]="title"
  (selectedRoom)="selectRoom($event)"></app-rooms-list>
</div>

<button (click)="toggle()">Toggle</button>